/* inter-100 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/inter-v13-cyrillic_latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-200 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/inter-v13-cyrillic_latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-300 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-regular - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v13-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v13-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  * {
    box-sizing: border-box;
    margin: 0%;
    padding: 0px;
}

html {
  overflow-x: hidden;
}

header {
  /* height: 234px; */
  border-radius: 0px 0px 80px 80px;
  background: #343434;
}

header a {
    padding: 0 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.top {
    width: 100vw;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    border-radius: 0px 0px 60px 60px;
    background-color: #1D1B1B;
}

.top nav {
    display: flex;
    justify-content: space-around;
}

.top .kontakt {
    display: flex;
    justify-content: space-around;
}

.bottom {
  display: flex;
  justify-content: center;
}

.search {
  width: 850px;
  height: 50px;
  flex-shrink: 0;
  margin: 40px 0;
  padding: 0 30px;
  border-radius: 20px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
}

.search input {
  width: 800px;
  border: 0px;
  outline: none;
  background: none;
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.conteiner {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;  
}

.menu nav {
  /* margin-left: 70px; */
  display: grid;
}

.menu nav a {
  margin: 10px 0;
  color: #000;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.menu nav img {
  width: 30px;
  margin-right: 10px;
  border-radius: 20px;
}

.TV-banner img {
  width: 915px;
  margin: auto;
  border-radius: 10px;
}

.Dostavka img {
  width: 80px;  
}

.info {
  padding: 50px 30px;
  border-radius: 5px;
  border: 1px solid #846464;
  background: #F1F1F1;  
  display: flex;
  justify-content: space-between;
}

.Pochka {
  display: flex;
}

.text1 {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text2 {
  color: #9D9D9D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  margin-top: 20px;
  margin-left: 10px;
}

.banner {
  border-radius: 10px;
  border: 4px solid #6D27A5;
    background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
}

.banner img {
  width: 400px;
  height: 500px;
  flex-shrink: 0;
}

.text3 {
  width: 400px;
  text-align: center;
  font-size: 26px;
}

.button {
  margin: auto;
  width: 250px;
  height: 35px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(109, 39, 165, 0.00) 0%, #6D27A5 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button p {
  padding-top: 5px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button:hover {
  cursor: pointer;
}

.line section {
  width: 565px;
  height: 275px;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 30px;
}

.text4 {
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section.apple {
  background: url(../IMG/apple.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.Flynig {
  background: url(../IMG/Flynig.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.Kofe {
  background: url(../IMG/Kofe.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button1 {
  width: 350px;
  padding: 5px;
  margin-top: 25px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #FFF;
  background: rgba(217, 217, 217, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text5 {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}

.banner-text1 {
  margin-left: 30px;
}

.text7 {
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text8 {
  padding-top: 8px;
  text-align: center;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button2 {
  width: 250px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 30px;
  margin-top: 10px;
  border-radius: 30px;
  background: #7763F1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.line2 {
  display: flex;
  justify-content: space-between;
}

.tsugino-line{
  display: flex;
  justify-content: space-around;
}

.tsugino-section{
  width: 400px;
  height: 480px;
  border-radius: 10px;
  border: 4px solid #6D27A5;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.tsugino-name{
  margin: 10px 0;
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tsugino-line-inside{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.tsugino-prace{
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tsugino-btn p{
  padding: 10px;
  background: linear-gradient(180deg, rgba(109, 39, 165, 0.00) 0%, #6D27A5 100%);
  border-radius: 10px;
}

.tsugino-img img{
  width: 250px;
}

.tsugino-hark {
  font-size: 26px;
}

footer {
  margin-top: 30px;
  color: #FFF;
  width: 100vw;
  height: 336px;
  flex-shrink: 0;
  border-radius: 80px 80px 0px 0px;
  background: #1D1B1B;
}

.text9 {
  padding-top: 30px;
  margin-left: 50px;
  display: grid;
}

.text9 p {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text9 a {
  text-decoration: none;
  color: #555;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.kontakt1 {
  padding-top: 100px;
  text-align: right;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 30px;
}

.kontakt2 {
  display: flex;
  justify-content: right;
}

.kontakt2 img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.coperait {
  border-top: #555 1px solid;
  display: flex;
  justify-content: space-between;
}